<div class="tweets-container">

<div class="modoru01">
   <%= link_to tweets_path do %> 
    <%= image_tag'modoru.jpg', size: "70x63" %>
   <% end %>
</div>

<div class="icontokyo">
    <%= image_tag'jy28.jpg', size:"270x270" %>
</div>

<div class="title-containertokyo">

   <div class="titletokyo">
    <h010>hamamatsucho_28</h010>
   </div>
   
   <div class="namaetokyo">
    <h011>浜松町駅</h011>
   </div>

   <div class="followertokyo">
    <h012>35.6553</h012> 
    <h013>139.7571</h013>
   </div>

   <div class="unittokyo">
    <h014>longitude</h014>
    <h015>latitude</h015>
   </div>

   <div class="abouttokyo">
    <h016>江戸時代から脈々と続く文化・交通などの交流の要</h016>
    <br><h019>新橋・銀座などの人気のエリアが徒歩圏内の近さなのも魅力の一つ</h019>
   </div> 

   <div class="googlemapurl">
    <h017><span style="color:#787878;">https://maps.app.goo.gl/KnPhZRR6rRCFTbkD7?g_st=ic</span></017>
   </div>
</div>


<div class="shashin">
<% @tweets.each do |t| %>
    <% if t.category == "hamamatsucyo" %> 
        <div class="toukoushashin"> 
            <%= image_tag t.image_url, size: "300x400" if t.image? %>
            <br><span style="color:#787878;">hamamatsucho_28   </span><%= t.name %>
        </div>

    <% end %>
<% end %>
</div>
